# Zillow Research Analysis

by: Armun Shakeri

In [1]:
# 3 year, 5 year, and 10 year
# forecast housing prices 
# ROI, highest and lowest
# Median Sale Price


# Questions for monday
# Is it ok if I only look at tx times? 
# Should I remove Texas from here too? 
# Need help with separating date from dataset

## Overview and Business Problem

This project analyzes 3 bedroom homes in Texas to determine which 10 zipcodes had the highest ROI for 3, 5 and 10 year span.

## Data Understanding

This data represents median monthly housing sales for 3 bedroom homes across the United States. 

Each row represents a unique ZipCode. Each record contains loccation info and median housing sales prices for each month.

There are 23404 rows and 281 variables:

RegionID: Unique index, 
<br />RegionName: Unique Zip Code,
<br />City: City in which the zip code is located,
<br />State: State in which the zip code is located,
<br />Metro: Metropolitan Area in which the zip code is located,
<br />CountyName: County in which the zip code is located,
<br />SizeRank: Numerical rank of size of zip code, ranked 1 through 23404
2000-01-31 through 2022-08-31: refers to the median housing sales values for January 2000 through August 2022, that is 274 data points of monthly data for each zip code

## Import standard packages and data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
import time
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv("Data/Zip_zhvi_bdrmcnt_3_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")
data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,01-00,...,11-21,12-21,01-22,02-22,03-22,04-22,05-22,06-22,07-22,08-22
0,91940,0,77449,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,96603.0,...,232376.0,236021.0,239693.0,244103.0,249528.0,255561.0,261406.0,266140.0,269363.0,271087.0
1,91982,1,77494,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,163540.0,...,330128.0,334969.0,339733.0,346806.0,355476.0,365971.0,374539.0,379908.0,381471.0,380327.0
2,93144,2,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,87170.0,...,167760.0,169442.0,171444.0,173448.0,175569.0,178832.0,182377.0,185780.0,188090.0,189856.0
3,62080,3,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,324450.0,...,814606.0,815163.0,817786.0,818496.0,823195.0,827059.0,836542.0,842837.0,849412.0,852484.0
4,62093,4,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,279395.0,...,749033.0,750202.0,754601.0,758353.0,764191.0,766694.0,772804.0,778368.0,783167.0,785138.0

Obtain information regarding data columns.

In [4]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23404 entries, 0 to 23403
Data columns (total 281 columns):
 #   Column      Dtype
---  ------      -----
 0   RegionID    int64
 1   SizeRank    int64
 2   RegionName  int64
 3   RegionType  object
 4   StateName   object
 5   State       object
 6   City        object
 7   Metro       object
 8   CountyName  object
 9   01-00       float64
 10  02-00       float64
 11  03-00       float64
 12  04-00       float64
 13  05-00       float64
 14  06-00       float64
 15  07-00       float64
 16  08-00       float64
 17  09-00       float64
 18  10-00       float64
 19  11-00       float64
 20  12-00       float64
 21  01-01       float64
 22  02-01       float64
 23  03-01       float64
 24  04-01       float64
 25  05-01       float64
 26  06-01       float64
 27  07-01       float64
 28  08-01       float64
 29  09-01       float64
 30  10-01       float64
 31  11-01       float64
 32  12-01       float64
 33  01-02       float64
 34  02-02       float64
 35  03-02       float64
 36  04-02       float64
 37  05-02       float64
 38  06-02       float64
 39  07-02       float64
 40  08-02       float64
 41  09-02       float64
 42  10-02       float64
 43  11-02       float64
 44  12-02       float64
 45  01-03       float64
 46  02-03       float64
 47  03-03       float64
 48  04-03       float64
 49  05-03       float64
 50  06-03       float64
 51  07-03       float64
 52  08-03       float64
 53  09-03       float64
 54  10-03       float64
 55  11-03       float64
 56  12-03       float64
 57  01-04       float64
 58  02-04       float64
 59  03-04       float64
 60  04-04       float64
 61  05-04       float64
 62  06-04       float64
 63  07-04       float64
 64  08-04       float64
 65  09-04       float64
 66  10-04       float64
 67  11-04       float64
 68  12-04       float64
 69  01-05       float64
 70  02-05       float64
 71  03-05       float64
 72  04-05       float64
 73  05-05       float64
 74  06-05       float64
 75  07-05       float64
 76  08-05       float64
 77  09-05       float64
 78  10-05       float64
 79  11-05       float64
 80  12-05       float64
 81  01-06       float64
 82  02-06       float64
 83  03-06       float64
 84  04-06       float64
 85  05-06       float64
 86  06-06       float64
 87  07-06       float64
 88  08-06       float64
 89  09-06       float64
 90  10-06       float64
 91  11-06       float64
 92  12-06       float64
 93  01-07       float64
 94  02-07       float64
 95  03-07       float64
 96  04-07       float64
 97  05-07       float64
 98  06-07       float64
 99  07-07       float64
 100 08-07       float64
 101 09-07       float64
 102 10-07       float64
 103 11-07       float64
 104 12-07       float64
 105 01-08       float64
 106 02-08       float64
 107 03-08       float64
 108 04-08       float64
 109 05-08       float64
 110 06-08       float64
 111 07-08       float64
 112 08-08       float64
 113 09-08       float64
 114 10-08       float64
 115 11-08       float64
 116 12-08       float64
 117 01-09       float64
 118 02-09       float64
 119 03-09       float64
 120 04-09       float64
 121 05-09       float64
 122 06-09       float64
 123 07-09       float64
 124 08-09       float64
 125 09-09       float64
 126 10-09       float64
 127 11-09       float64
 128 12-09       float64
 129 01-10       float64
 130 02-10       float64
 131 03-10       float64
 132 04-10       float64
 133 05-10       float64
 134 06-10       float64
 135 07-10       float64
 136 08-10       float64
 137 09-10       float64
 138 10-10       float64
 139 11-10       float64
 140 12-10       float64
 141 01-11       float64
 142 02-11       float64
 143 03-11       float64
 144 04-11       float64
 145 05-11       float64
 146 06-11       float64
 147 07-11       float64
 148 08-11       float64
 149 09-11       float64
 150 10-11       float64
 151 11-11       float64
 152 12-11       float64
 153 01-12       float64
 154 02-12       float64
 155 03-12       float64
 156 04-12       float64
 157 05-12       float64
 158 06-12       float64
 159 07-12       float64
 160 08-12       float64
 161 09-12       float64
 162 10-12       float64
 163 11-12       float64
 164 12-12       float64
 165 01-13       float64
 166 02-13       float64
 167 03-13       float64
 168 04-13       float64
 169 05-13       float64
 170 06-13       float64
 171 07-13       float64
 172 08-13       float64
 173 09-13       float64
 174 10-13       float64
 175 11-13       float64
 176 12-13       float64
 177 01-14       float64
 178 02-14       float64
 179 03-14       float64
 180 04-14       float64
 181 05-14       float64
 182 06-14       float64
 183 07-14       float64
 184 08-14       float64
 185 09-14       float64
 186 10-14       float64
 187 11-14       float64
 188 12-14       float64
 189 01-15       float64
 190 02-15       float64
 191 03-15       float64
 192 04-15       float64
 193 05-15       float64
 194 06-15       float64
 195 07-15       float64
 196 08-15       float64
 197 09-15       float64
 198 10-15       float64
 199 11-15       float64
 200 12-15       float64
 201 01-16       float64
 202 02-16       float64
 203 03-16       float64
 204 04-16       float64
 205 05-16       float64
 206 06-16       float64
 207 07-16       float64
 208 08-16       float64
 209 09-16       float64
 210 10-16       float64
 211 11-16       float64
 212 12-16       float64
 213 01-17       float64
 214 02-17       float64
 215 03-17       float64
 216 04-17       float64
 217 05-17       float64
 218 06-17       float64
 219 07-17       float64
 220 08-17       float64
 221 09-17       float64
 222 10-17       float64
 223 11-17       float64
 224 12-17       float64
 225 01-18       float64
 226 02-18       float64
 227 03-18       float64
 228 04-18       float64
 229 05-18       float64
 230 06-18       float64
 231 07-18       float64
 232 08-18       float64
 233 09-18       float64
 234 10-18       float64
 235 11-18       float64
 236 12-18       float64
 237 01-19       float64
 238 02-19       float64
 239 03-19       float64
 240 04-19       float64
 241 05-19       float64
 242 06-19       float64
 243 07-19       float64
 244 08-19       float64
 245 09-19       float64
 246 10-19       float64
 247 11-19       float64
 248 12-19       float64
 249 01-20       float64
 250 02-20       float64
 251 03-20       float64
 252 04-20       float64
 253 05-20       float64
 254 06-20       float64
 255 07-20       float64
 256 08-20       float64
 257 09-20       float64
 258 10-20       float64
 259 11-20       float64
 260 12-20       float64
 261 01-21       float64
 262 02-21       float64
 263 03-21       float64
 264 04-21       float64
 265 05-21       float64
 266 06-21       float64
 267 07-21       float64
 268 08-21       float64
 269 09-21       float64
 270 10-21       float64
 271 11-21       float64
 272 12-21       float64
 273 01-22       float64
 274 02-22       float64
 275 03-22       float64
 276 04-22       float64
 277 05-22       float64
 278 06-22       float64
 279 07-22       float64
 280 08-22       float64
dtypes: float64(272), int64(3), object(6)
memory usage: 50.2+ MB

Drop all states outside of Texas.

In [5]:
data = data[data['State'] == 'TX']
data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,01-00,...,11-21,12-21,01-22,02-22,03-22,04-22,05-22,06-22,07-22,08-22
0,91940,0,77449,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Harris County,96603.0,...,232376.0,236021.0,239693.0,244103.0,249528.0,255561.0,261406.0,266140.0,269363.0,271087.0
1,91982,1,77494,zip,TX,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,163540.0,...,330128.0,334969.0,339733.0,346806.0,355476.0,365971.0,374539.0,379908.0,381471.0,380327.0
2,93144,2,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,87170.0,...,167760.0,169442.0,171444.0,173448.0,175569.0,178832.0,182377.0,185780.0,188090.0,189856.0
7,91733,7,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,96608.0,...,227606.0,230914.0,234220.0,237989.0,242657.0,247697.0,252703.0,256619.0,259138.0,260480.0
17,92593,17,78660,zip,TX,TX,Pflugerville,"Austin-Round Rock-Georgetown, TX",Travis County,142867.0,...,404382.0,415007.0,424494.0,435592.0,446426.0,455652.0,462620.0,458565.0,449787.0,438317.0

We will drop 'StateName' and 'RegionType' due to redundancy, and 'SizeRank' due to it being irrelevant for analysis.

In [6]:
data = data.drop(['StateName', 'RegionType', 'SizeRank'], axis=1)

We can see that there are 101,792 missing values within the dataset.

In [7]:
data.isna().sum().sum()

101792

## Analyze 'RegionID'

There are 1293 unique values within RegionID.

In [8]:
print(data.RegionID.value_counts())
print(data.RegionID.nunique())
print(data.RegionID.min())
print(data.RegionID.max())

92157    1
90733    1
90759    1
92808    1
90761    1
        ..
91392    1
91395    1
91397    1
91398    1
92160    1
Name: RegionID, Length: 1293, dtype: int64
1293
90611
787971

In [9]:
data[data.RegionID >= 100000]

,RegionID,RegionName,State,City,Metro,CountyName,01-00,02-00,03-00,04-00,...,11-21,12-21,01-22,02-22,03-22,04-22,05-22,06-22,07-22,08-22
105,399727,78542,TX,Edinburg,"McAllen-Edinburg-Mission, TX",Hidalgo County,NaN,NaN,NaN,NaN,...,167788.0,170786.0,173059.0,175352.0,177976.0,181052.0,184327.0,187405.0,190153.0,193009.0
316,399724,77407,TX,Richmond,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,147866.0,148551.0,149188.0,150314.0,...,285231.0,289066.0,293108.0,299310.0,306808.0,315533.0,322869.0,327716.0,329450.0,328649.0
624,399725,77498,TX,Sugar Land,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,106128.0,106515.0,106830.0,107517.0,...,253347.0,256227.0,259172.0,263808.0,269430.0,276184.0,281709.0,285183.0,285964.0,284472.0
930,787970,75072,TX,McKinney,"Dallas-Fort Worth-Arlington, TX",Collin County,NaN,NaN,NaN,NaN,...,397635.0,409134.0,422416.0,432973.0,442135.0,453732.0,465911.0,476474.0,477881.0,473370.0
936,399638,78665,TX,Round Rock,"Austin-Round Rock-Georgetown, TX",Williamson County,NaN,NaN,NaN,NaN,...,435297.0,444927.0,457794.0,467751.0,476143.0,481926.0,486732.0,485045.0,477600.0,466026.0
1215,422746,75033,TX,Frisco,"Dallas-Fort Worth-Arlington, TX",Denton County,176703.0,175835.0,175682.0,175662.0,...,442829.0,453538.0,466795.0,478994.0,490201.0,504329.0,518516.0,531760.0,534340.0,532447.0
4240,399637,78633,TX,Georgetown,"Austin-Round Rock-Georgetown, TX",Williamson County,NaN,NaN,NaN,NaN,...,505507.0,512947.0,526379.0,537648.0,548173.0,555543.0,562518.0,563592.0,557858.0,547291.0
4645,787971,75036,TX,Frisco,"Dallas-Fort Worth-Arlington, TX",Denton County,NaN,NaN,NaN,NaN,...,416331.0,426120.0,438039.0,450001.0,461054.0,473164.0,483866.0,492962.0,494705.0,494559.0
5654,399726,77523,TX,NaN,"Houston-The Woodlands-Sugar Land, TX",Chambers County,NaN,NaN,NaN,NaN,...,275669.0,281829.0,286846.0,295486.0,298133.0,300903.0,300833.0,301340.0,302540.0,305548.0

Doesn't mean anything and all are unique so we will change the astype to string.

In [10]:
# data.RegionID = data.RegionID.astype('string')

In [11]:
data.RegionID.unique()

array([91940, 91982, 93144, ..., 92177, 92087, 91942])

## Analyze 'RegionName'

Next we will look at RegionName, this is the zip code. We can see that there are 419 unique values.

In [12]:
data.RegionName.value_counts()

77880    1
76437    1
76476    1
78526    1
76085    1
        ..
78933    1
79226    1
77657    1
75134    1
77563    1
Name: RegionName, Length: 1293, dtype: int64

All zipcodes are unique. I will change the astype to string.

In [13]:
# data.RegionName = data.RegionName.astype('string')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1293 entries, 0 to 23400
Columns: 278 entries, RegionID to 08-22
dtypes: float64(272), int64(2), object(4)
memory usage: 2.8+ MB

In [15]:
data[['RegionName', 'State']].sort_values(by=['RegionName'])

      RegionName State
7529       75001    TX
142        75002    TX
768        75006    TX
571        75007    TX
6689       75009    TX
...          ...   ...
3745       79932    TX
4607       79934    TX
7240       79935    TX
2          79936    TX
97         79938    TX

[1293 rows x 2 columns]

## Analyze 'City'

In [16]:
data.City.nunique()

701

In [17]:
data.City.isna().sum()

102

In [18]:
data.City.fillna('None', inplace=True)

## Analyze 'Metro'

Fillna with None

In [19]:
print(data.Metro.value_counts())
print(data.Metro.nunique())

Dallas-Fort Worth-Arlington, TX         249
Houston-The Woodlands-Sugar Land, TX    213
San Antonio-New Braunfels, TX            94
Austin-Round Rock-Georgetown, TX         83
El Paso, TX                              26
                                       ...
Pearsall, TX                              1
Uvalde, TX                                1
Hereford, TX                              1
Zapata, TX                                1
Lamesa, TX                                1
Name: Metro, Length: 71, dtype: int64
71

In [20]:
data.Metro.fillna('None', inplace=True)

In [21]:
data.Metro.value_counts()

Dallas-Fort Worth-Arlington, TX         249
Houston-The Woodlands-Sugar Land, TX    213
None                                    189
San Antonio-New Braunfels, TX            94
Austin-Round Rock-Georgetown, TX         83
                                       ...
Zapata, TX                                1
Pampa, TX                                 1
Raymondville, TX                          1
Hereford, TX                              1
Pearsall, TX                              1
Name: Metro, Length: 72, dtype: int64

## Analyze 'CountyName'

In [22]:
data.CountyName.value_counts()

Harris County         129
Dallas County          77
Bexar County           65
Tarrant County         63
Travis County          45
                     ...
San Saba County         1
McCulloch County        1
Mitchell County         1
Hartley County          1
Shackelford County      1
Name: CountyName, Length: 206, dtype: int64

In [23]:
data.isna().sum()

RegionID       0
RegionName     0
State          0
City           0
Metro          0
              ..
04-22         16
05-22         13
06-22          6
07-22          4
08-22          0
Length: 278, dtype: int64

In [24]:
data.CountyName.fillna('None', inplace=True)

## Drop sales data that have missing values

In [25]:
# data = data.dropna()

In [26]:
# data.isna().sum()

## EDA on ZipCodes

In [32]:
# Check out most recent 1 year ROI
data['recent_1_yr_ROI'] = (data['08-22'] - data['08-21'])/(data['08-21'])
data['recent_1_yr_ROI']

0        0.232488
1        0.219513
2        0.182189
7        0.207553
17       0.123829
           ...
23325    0.175567
23352    0.179743
23371    0.169669
23372    0.145991
23400         NaN
Name: recent_1_yr_ROI, Length: 1293, dtype: float64

In [28]:
# Lowest Values
data.sort_values('recent_1_yr_ROI').head()[['RegionName', 'City', 'recent_1_yr_ROI']]

       RegionName      City  recent_1_yr_ROI
15843       78650    McDade        -0.039556
5133        79764    Odessa        -0.001732
10220       75758  Chandler         0.001105
7696        77701  Beaumont         0.001391
16286       77335      None         0.004549

In [29]:
# Highest Values 
data.sort_values('recent_1_yr_ROI', ascending=False).head()[['RegionName', 'City', 'recent_1_yr_ROI']]

       RegionName       City  recent_1_yr_ROI
6514        76541    Killeen         0.288390
18276       78615   Coupland         0.276556
17560       75058     Gunter         0.266011
11436       78583  Rio Hondo         0.264982
15845       76569     Rogers         0.262747

In [49]:
# Find avg ROI for the past 3 years 
def average_one_year_ROI(df):
    average_one_year_ROI = []
    for i in range(len(df)):
        year_1_ROI = df['recent_1_yr_ROI'][i]
        year_2_ROI = (df.iloc[i,-15] - df.iloc[i,-27])/df.iloc[i,-27]
        year_3_ROI = (df.iloc[i,-27] - df.iloc[i,-39])/df.iloc[i,-39]
        avg_ROI = (year_1_ROI + year_2_ROI + year_3_ROI)/3
        average_one_year_ROI.append(avg_ROI)
    return average_one_year_ROI

In [50]:
data['avg_one_yr_ROI'] = average_one_year_ROI(data)

KeyError: 3